@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelper
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>



    @*AboutMe*@
    <section id="abautMe" class="about" style="margin-top:80px;">
        <div class="container">
            <div class="">
                <center>
                    <p class="nameStyle">
                        BÜŞRA ÖZMEN
                    </p>
                    <p class="titleStyle">
                        SOFTWARE DEVELOPER
                    </p>
                </center>
            </div>
            <div class="row content">
                <div class="col-lg-3 ">

                    <img src="~/image/busraOzmen.JPG" class="photoBusra" />

                </div>
                <div class="col-lg-9 pt-4 pt-lg-0">
                    <p>
                        Başkent Üniversitesi Elektrik Elektronik Mühendisliği bölümünden mezun oldum. Yazılımdan  keyif aldığım için Developer olmam gerektiğine karar verdim ve Bilge Adam Bilişim Grubu ve Çalışma Bakanlığı’nın ortaklaşa düzenlemiş olduğu 100% burslu Nitelikli Bilişim Uzmanı Yetiştirme Programına katıldım. Bu program kapsamında Web ve Mobil Programlama öğrendim.
                    </p>
                    <p>
                        HARUSS YAZILIM Şirketinde Junior Developer 5 ay olarak çalıştım . Kariyerime AGARTHA TEKNOLOJİ BİLİŞİM YAZILIM MÜHENDİSLİK PAZARLAMA VE TİC.LTD.ŞTİ.  'de Frontend Developer olarak görev aldım.
                    </p>
                    <p>
                        Takım arkadaşlarımı ekip liderimle iletişimiz sayesinde alt yapısı sağlam .Net Core teknolojisi ile çeşitli web tabanlı uygulamalar geliştirdim. Çalıştığım projeler Bakanlıklara ve Büyükşehir Belediyelerine yönelik oldu. Çok şanlıyım ki çalıştığım firmalarda harika dostluklar ve bilgi edindim.
                        Eğitim geçmişime ve kişisel özelliklerime uygun, şirketinize değer katabileceğim bir pozisyonda çalışmak isterim.
                        <em>
                            Saygılarımla, Büşra ÖZMEN
                        </em>
                    </p>
                </div>
            </div>
        </div>
    </section>




    @*Projects*@

    <section id="projects">


        <div class="section-title">


        </div>



    </section>

    @*References*@

    <section id="references" class="services mb-5">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2 class="">Referanslar</h2>

            </div>


            <div class="reference">
                <div class="refImg">
                    <img src="~/image/LogoBusra.png" style="height:70px;" />
                </div>
                <div class="refInfo">
                    <p class="refName">Erhan KAYAALP</a></p>
                    <p class="refTitle">Yazılım Takım lideri / Agartha Teknoloji</p>
                    <p class="desc">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
            </div>
        </div>
    </section>

    @*iletişim*@
    <section id="contact" class="contact section-bg container-fluid d-block">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="section-title">
                    <h2 class="kucukBaslik mt-5 ">İletişim</h2>

                </div>
            </div>


            <div class="row ">
                <div class="col-lg-12">
                    <form id="iletisimID">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input id="isim" type="text" name="name" class="form-control" asp-for="name" placeholder="İsim" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="soyisim" id="soyisim" placeholder="Soyisim" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="konu" id="konu" placeholder="Konu" required>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="email" id="email" placeholder="E Posta" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="mesaj" id="mesaj" rows="5" placeholder="Mesaj" required></textarea>
                        </div>
                    </form>
                    <button id="btnMailGonder" type="button" class="btnContact btnMailGonder " data-toggle="modal" data-target="#modalID">
                        Gönder
                    </button>
                </div>
            </div>


            <div class="row ">
                    <div class="mt-4" style="margin:0px auto;">
                        <a href="#"><i class="fab fa-instagram iconFooter"></i></a>
                        <a href="#"><i class="fab fa-github iconFooter"></i></a>
                        <a href="#"><i class="fab fa-linkedin iconFooter"></i></a>
                    </div>
            </div>
        </div>

    </section>


</body>


<div class="modal fade" id="modalID" tabindex="1000" aria-hidden="true" role="dialog" style="z-index:2050; margin-top:200px !important; ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <div>
                    <img class="busraImage" src="~/image/LogoBusra.png" />
                </div>
                <h1 id="exampleModalLabel " class=" logoPopCss modal-title">
                    <a>
                        BÜŞRA ÖZMEN
                    </a>
                </h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <em>
                    Mesajınız gönderildi. Teşekkür ederim.
                </em>
            </div>
            <div class="modal-footer">
                <button type="button" class="popButton " data-dismiss="modal">Kapat</button>

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {


        $('#btnMailGonder').click(function () {
            MailGonder();
        });

        $('#btnMailGonder').click(function () {
            $("#modalID").modal("show");
            $(".modal-backdrop.fade.show").removeClass("modal-backdrop fade show");
        });

        $(".modal-backdrop.fade.show").click(function () {
            alert("Mesajınız Başarılı Bir Şekilde Gönderildi.")
        });


    })


    function MailGonder() {
        var Mail = {};
        Mail["isim"] = $("#isim").val();
        Mail["soyisim"] = $("#soyisim").val();
        Mail["konu"] = $("#konu").val();
        Mail["mesaj"] = $("#mesaj").val();
        Mail["email"] = $("#email").val();

        var _data = JSON.stringify(Mail);
        $.ajax({

            type: "POST",
            url: "/Home/MailGonder",
            data: _data,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {

                if (result != null && result) {

                    $("#isim").val("");
                    $("#soyisim").val("");
                    $("#konu").val("");
                    $("#mesaj").val("");
                    $("#email").val("");

                }
            },
        });
    }
</script>


