body {
    padding: 0px;
    margin: 0px;
    background-color: #e5e3e3;
    color: #956c8d;
    font-family: cursive !important;
    font-style: italic;
}

section{
/*    margin-top:120px;*/
    margin-bottom:4%;
}

.card-text {
    color: #6c7580 !important;
}

.nameStyle {
    font-size: 20px;
    font-weight: 600;
    margin-top: 6px;
}
.navbar {
    border-bottom: 3px solid #a30888 !important;
    background-color: #fff5f5 !important;
}

.navbar-brand {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-right: 0.5rem !important;
    white-space: nowrap;
}

.nav-link {
    color: #a30888 !important;
    text-decoration: none;
    background-color: transparent;
    font-weight: 600;
}

    .nav-link:hover {
        color: #cd00a9 !important;
        text-decoration: none;
        background-color: transparent;
    }

.fa-check {
    color: #a30888 !important;
}
.titleStyle {
    font-size: 32px;
    font-weight: 600;
}

.busraImage {
    width: 50px;
    height: 50px;
    background-color: none;
}

.photoBusra {
    width: auto !important;
    height: 320px !important;
 /*   margin: 0px auto;*/
}
.adress {
    text-decoration: none;
    color: #a30888 !important;
}


.iconFooter {
    color: #956c8d;
    text-align: center !important;
    font-size: 42px;
}

.form-control {
    background-color: #e5e3e3 !important;
    color: #a30888 !important;
    border: 1px solid #b1007e !important;

}
.btnContact{

}
div.reference div {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}

div.refImg {
    width: 10%;
    min-width: 6em;
    width: 60px;
    height: 60px;
    background-color: none;
}
div.refInfo {
    width: auto;
    max-width: 75%;
}

p.refName {
    font-size: 1.2em;
    font-weight: bold;
}

p.refTitle {
    font-style: italic;
    font-size: 1.1em;
}

p.desc {
    opacity: 0.8;
}


.refLogo {
    width: 60px;
    height: 60px;
    background-color: none;
}

.btnMailGonder {
    padding: 5px 25px;
    text-align: center;
    color: #a30888 !important;
    border: 1px solid #a30888 !important;
    border-radius: 5px;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    color: #6c7580 !important;
    background-color: #fff5f5 !important;
    background-clip: padding-box;
    border: 1px solid #ab018d;
    border-radius:5px;
}

.reference{
    margin-top:2%;
    margin-bottom:2%;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 200px !important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #7a0566;
    border-radius: 0.25rem;
    margin: 10px;
    height: 230px !important;
    font-size: 10px !important;
    text-align:center;
    margin-bottom:20px;

}


    .card:hover {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff5f5 !important;
        background-clip: border-box;
        border: 1px solid #7a0566;
        border-radius: 0.25rem;
        margin: 10px;
        font-size: 10px !important;
        height: 242px !important;
        text-align: center;
        transform: rotate( 0deg);
        margin-bottom: 20px;
    }


.section-title{
    text-decoration:underline;
    margin-top:60px;
    margin-bottom:30px;
}


.popButton {
    padding: 5px 25px;
    text-align: center;
    color: #a30888 !important;
    border: 1px solid #a30888 !important;
    border-radius:5px;
}
.modalName {
    margin-top: 15px;
    color: #956c8d;
    border-radius: 5px;
}

.services .icon-box {
    text-align: center;
    background: #fefefe;
    box-shadow: 0px 5px 90px 0px rgb(110 123 131 / 10%);
    padding: 60px 20px;
    transition: all ease-in-out 0.3s;
    width: 100%;
    height: 300px;
}
.icon-box:hover {
    text-align: center;
    background: #eadcb0;
    box-shadow: 0px 5px 90px 0px rgb(110 123 131 / 10%);
    padding: 60px 10px;
    transition: all ease-in-out 0.3s;
    width: 100%;
    height: 280px;
    margin: 30px !important;
}

.icon {
    width: 64px;
    height: 64px;
    background-color: #ba8c00;
    text-align: center !important;
    box-shadow: -12px -10px 3px 0px #969388;
}
.services .icon-box .ikonFooter {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #cda93d;
    border-radius: 5px;
    transition: all .3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
    position: relative;
    z-index: 2;
}




@media screen and (max-width: 414px) {
    body{
        font-size:12px;
    }
    .card {
        width: 45% !important;
    }

    


    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 4px !important;
        padding-left: 4px !important;
        margin-bottom: 50px !important;
        text-align: center;
    }

   
}

@media screen and (max-width: 1025px) {
    body {
        font-size: 14px;
    }

    .card {
        width: 45% !important;
    }
 

    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 4px !important;
        padding-left: 4px !important;
        margin-left: 10px;
        margin-right: 10px;
        text-align:center;
    }

   
}

.skills,
.skills .skill,
.skills .skill .skill-title,
.skills .skill .skill-bar {
    width: 100%;
    float: left;
}

.skills {
    padding: 15px;
}

    .skills .skill {
        margin-bottom: 30px;
    }

        .skills .skill .skill-title {
            color: #7a0566;
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 14px;
        }

        .skills .skill .skill-bar {
            width: 0;
            height: 6px;
            background: #f0f0f0;
            transition: 1s cubic-bezier(1, 0, .5, 1);
            -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
        }

    .skills.active .skill .skill-bar {
        width: 100%;
    }

    .skills .skill .skill-bar span {
        float: left;
        width: 0%;
        background: #7a0566;
        height: 6px;
        position: relative;
        transition: 1s cubic-bezier(1, 0, .5, 1);
        -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
  
    }

        .skills .skill .skill-bar span b {
            float: left;
            width: 100%;
            position: relative;
            text-align: right;
            opacity: 0;
            font-size: 14px;
            color: #171818;
            font-weight: 400;
            top: -18px;
        }

.containerBar {
    width: 100%;
    margin: 0 auto;
}

/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,900&subset=latin,latin-ext);*/

/*html, body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}*/